# Programming Assignment 1

## Peyton Fosnough

### Anaconda 3
### Dr. Sarkar CS150-01

In [22]:
value1 = float(input("Enter a floating point number: "))

Enter a floating point number: 17.3

In [20]:
value2 = int(input("Enter an Integer: "))

Enter an Integer: 14

In [23]:
sum1 = value2 + value1
print("The sum is ", sum1)

The sum is  31.3

In [24]:
diff1 = value1 - value2
print("The difference is ", diff1)

The difference is  3.3000000000000007

In [25]:
prod = value1 * value2
print("The product is ", prod)

The product is  242.20000000000002

In [26]:
quot = value1 / value2
print("The quotient is ", quot)

The quotient is  1.2357142857142858

In [27]:
print("The type for the result is ", type(quot))

The type for the result is  <class 'float'>